/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul {
  list-style: none;
}

.navbar-dark2 {
  background-color: rgb(40, 40, 40);
}

.pokemon__name {
  text-align: center;
  font-size: large;
  padding: 1em 2em;
  margin: 1rem 0;
  color: whitesmoke;
  background-color: rgb(110, 110, 110);
  border: none;
  border-radius: 1rem;
}

.pokemon__details {
  padding: 0.5rem;
  border-radius: 1rem;
  color: whitesmoke;
  background-color: rgb(125, 125, 125);
  border: none;
  cursor: pointer;
}

.wrapper {
  background-color: rgb(40, 40, 40);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgb(80, 80, 80);
  height: 35rem;
  width: 35rem;
}

.main__title {
  padding: 1rem;
  color: whitesmoke;
  text-align: center;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow-y: auto;
}

.modal-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 150px;
}
