* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

ul {
  list-style: none;
}

.pokemon__name {
  font-size: large;
  padding: 1em 2em;
  color: whitesmoke;
  background-color: rgb(110, 110, 110);
  border: none;
  border-radius: 1rem;
}

.pokemon__details {
  padding: 0.5rem;
  border-radius: 1rem;
  color: whitesmoke;
  background-color: rgb(125, 125, 125);
  border: none;
  cursor: pointer;
}

.wrapper {
  background-color: rgb(40, 40, 40);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__container {
  flex-direction: column;
  border-radius: 2rem;
  display: flex;
  background-color: rgb(80, 80, 80);
  height: 30rem;
  width: 30rem;
}

.main__title {
  padding-top: 1rem;
  color: whitesmoke;
  text-align: center;
}

.main__items {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-list {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
